
{% extends 'base.html.twig' %}
{% block header_content %}
    <h1><a href="{{ path('newslisting') }}"><b>Symfonoid </b><small>Newsletter</small></a></h1>
{% endblock %}
{% block container %}

{% endblock %}
{% block footer %}

{% endblock %}