{% extends "base.html.twig" %}
{% block MainContent %}
        {% block MainTitle %} {% endblock %} {#le titre descriptif de chaque page#}
        {% block sliders %}{% endblock %} {#présentation des publications#}
        {% block services %}{% endblock %} {# Vulgarisation, Events Analysis, Survey#}
        {% block AnalysesRecentes %}{% endblock %} {# 3 dernieres Analyses effectuées #}</div>
{% endblock %}





