{% extends "base.html.twig" %}
{% block MainContent %}
        {% block MainTitle %} {% endblock %} {#le titre descriptif de chaque page#}
        {% block sliders %}{% endblock %} {#présentation des chantiers réalisés#}
        {% block services %}{% endblock %} {# construction, intérieur, rénovation#}
        {% block TraveauxRecent %}{% endblock %} {# 3 derniers Traveaux effectués #}</div>
{% endblock %}





