<div class="centrage pos">
        <div class="logo">
            <a href="./"><img src="{{asset('images/logo.png')}}"  height="60" alt=""/></a>
        </div>
        <nav >
            <ul >
                <li><a href="./">Home</a></li> <!--
                --><li><a href="./">Equipe</a></li><!--
                --><li><a href="./">Projets</a></li><!--
                --><li><a href="./">News</a></li><!--
                --><li><a href="./">Contact</a></li>
            </ul>
            <a href="#" class="pull">MENU</a>
        </nav>
    </div>  


